<%- include('../partials/head') %>
<!-- TODO add pagination -->
<!-- TODO add sorting, filtering...table library? -->
<h1><%= title %></h1>
<ul>
    <% for (let player of players) { %>
    <li><a href="/players/<%= player.player_id %>"><%= player.fullName %></a></li>
    <% } %>
</ul>
<%- include('../partials/foot') %>