<%- include('../partials/head') %>

<!-- TODO add data from wikidata api using the wikidata_id (https://www.mediawiki.org/wiki/Wikibase/API) -->
<h1><%= player.fullName %></h1>

<ul>
    <li>hand: <%= player.hand %></li>
    <li>birthdate: <%= player.birthdate %></li>
    <li>ioc: <%= player.ioc %></li>
    <li>height: <%= player.height %></li>
    <li>wikidata_id: <a href="https://www.wikidata.org/wiki/<%= player.wikidata_id %>"><%= player.wikidata_id %></a>
    </li>
</ul>

<h2>Matches (<%= matches.length %>)</h2>
<!-- TODO create nice table for matches info -->
<!-- TODO paginate player matches (or maybe just show most recent 50 or something, not sure if i know how to paginate within a page like this, query params seem clunky, what if i have multiple tables on this page that need to be paginated?) -->
<ul>
    <% for (let match of matches) { %>
    <li><%= match.tourney_dateString %>| <%= match.tourney_name %>| <%= match.surface %></li>
    <% } %>
</ul>



<%- include('../partials/foot') %>