<%- include('../partials/head') %>

<!-- TODO add data from wikidata api using the wikidata_id (https://www.mediawiki.org/wiki/Wikibase/API) -->
<h1><%= player.fullName %></h1>

<ul>
    <li>hand: <%= player.hand %></li>
    <li>birthdate: <%= player.birthdate %></li>
    <li>ioc: <%= player.ioc %></li>
    <li>height: <%= player.height %></li>
    <li>wikidata_id: <a href="https://www.wikidata.org/wiki/<%= player.wikidata_id %>"><%= player.wikidata_id %></a>
    </li>
</ul>

<!-- TODO add some of the player's recent matches -->


<%- include('../partials/foot') %>